@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    width: 60%;
    padding: 15px;
    margin-left: 60px;
    background-color: #37393E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #DCDDDE;
}

input[type="file"] {
    display: none;
}

.input-file {
    padding: 14px 16px;
    background-color: #7289DA;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}

.input-file:hover {
    background-color: #6279CC;
}

.input-file:active {
    background-color: #4E5D94;
}

.input-file > .content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.input-file > .content > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #FFFFFF;
}

.showcase-area {
    background-color: #2F3136;
    border-radius: 25px;
    padding: 20px;
    float: left;
    margin-inline-end: 40px;
}

.showcase-area:last-child {
    margin-inline-end: 0;
}

.showcase-area > h3 {
    margin: 0;
    margin-bottom: 15px;
}

.showcase-area > .content {
    display: flex;
    flex-direction: row;
}

.showcase-area > .content > div {
    margin-inline-end: 20px;
}

.showcase-area > .content > div:last-child {
    margin-inline-end: 0px;
}

.sidebar > .description {
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

.sidebar > .content {
    width: 72px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    border-radius: 15px;
}

.sidebar-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.sidebar-item:last-child {
    margin-bottom: 0;
}

.sidebar-item.active > .content {
    border-radius: 33.3%;
}

.sidebar-item > .content {
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-item > .content > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-item > .separator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: #ffffff0f;
}

.sidebar-item > .content > #home-icon {
    background-color: #36393F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-indicator {
    z-index: 2;
    width: 4px;
    height: 40px;
    position: absolute;
    margin-left: -12px;
    border-radius: 0 4px 4px 0;
    background-color: #FFFFFF;
}

.activity-indicator.indicator-short {
    height: 20px;
}

/* .ios-popup {
    width: 48px;
}

.ios-popup > .content {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ios-popup > .content > img {
    border-radius: 25%;
    box-sizing: border-box;
    border: 2px solid #202225;
    overflow: hidden;
    width: 48px;
    height: 48px;
}

.ios-popup > .description {
    margin: 0;
    margin-top: 15px;
    text-align: center;
} */